<div class="container">
    <div class="row justify-content-md-center">
        <div class="col mt-5 align-center">
            <h3>Search results for <span>{{this.query}}</span></h3>
            <div>
                <p align="center">
                    <mat-spinner *ngIf="isLoading"></mat-spinner>
                </p>
                <div class="row">
                    <div class="col-md-auto" *ngFor="let c of cardList">
                        <p><a *ngIf="!c.user" [routerLink]="['/cardlist', c.cardListsId]"> </a></p>
                        <p><a *ngIf="c.user" [routerLink]="['/cardlist/user', c.cardListId]"></a></p>

                        <p><a *ngIf="!c.user" [routerLink]="['/cardlist', c.cardListId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{c.name}}</span></a></p>
                        <p><a *ngIf="c.user" [routerLink]="['/cardlist/user', c.cardListId]"><span style="
                                display:inline-block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                max-width: 20ch;">{{c.name}}</span></a></p>
                    </div>
                </div>
            </div>
            <div *ngIf="cardList.length === 0 && !isLoading">
                <p>Your search <em><span>{{this.query}}</span></em> did not match any
                    listings. Try another search.</p>
            </div>
        </div>
    </div>
</div>